
# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Logs
logs/
*.log

# Operating System
.DS_Store
Thumbs.db
